// Thin underline
/*thin-underline($border-color=$links_color, $opacity=30%, $border-color_hover=$links_color-hover)
	border-bottom 1px solid
	border-bottom-color alpha($border-color, $opacity)
	&:hover
		border-color alpha($border-color_hover, $opacity)

thin-underline_colors($border-color=$links_color, $opacity=30%, $border-color_hover=$links_color-hover, $opacity_hover=30%)
	border-bottom-color alpha($border-color, $opacity)
	&:hover
		border-color alpha($border-color_hover, $opacity_hover)*/




// Buttons
/*button-variant-static($color, $bg, $border) // not interactive
	color $color
	background-color $bg
	border $border
	&.disabled,
	&[disabled],
	fieldset[disabled] &
		&,
		&:hover,
		&:focus,
		&:active,
		&.active
			color $color
			background-color $bg*/




//SVG icons before string
//Использование:
//.link-icon
//	link-icon($width:27px, $height:27px, $top:2px, $bg-size:contain, $padding-right:6px)
/*link-icon($width, $height, $top, $bg-size=contain, $padding-right)
	&:before
		content ''
		position relative
		top $top
		display block
		float left
		box-sizing content-box
		padding-right $padding-right
		width $width
		height $height
		background-size $bg-size
		background-repeat no-repeat
		background-position 0 50%*/

/*
link-icon_image($background-image)
	&:before
		background-image: data-uri('image/svg+xml;charset=UTF-8', '{$background-image');
*/
