footer
	.container
		.col--lg-4
			h2 Туристический проект
			.footer-address Москва, 1-й Щипковский переулок, д. 1
			.footer-address--link
				a(href="#") Показать на карте
		.col--lg-4
			.footer-contacts Время работы офиса:
			.footer-contacts--1 Будни 10:00–21:00
			.footer-contacts--2 Выходные и праздники 11:00–17:00
		.col--lg-4
			.footer-tel +7 495 585 55 55
			.footer-tel(href="tel:+74955855555") Обратная связь
		.col--lg-4.footer-social
			.footer-social--vk
				a(href="#") ВКонтакте
		.footer-copywriting Разработано командой TourAdmin © 2017
