header.header
	.header-inr
		.logo
		nav
			ul
				li.nav-item
					a(href="#") Моя лента
				li.nav-item
					a(href="#") Интересы
				li.nav-item
					a(href="#") Направления
				li.nav-item
					a(href="#") Подбор тура
				li.nav-item
					a(href="#") Заявка
