header.header
	.header-inr
		.logo
		nav.nav
			ul
				li.nav-item
					a(href="#") Моя лента
				li.nav-item.nav-item__active
					a(href="#") Интересы
				li.nav-item
					a(href="#") Направления
				li.nav-item
					a(href="#") Подбор тура
				li.nav-item
					a(href="#") Заявка
