// ===================================================================================================================
// Button Variant
// ===================================================================================================================

// Background-color + color
button-variant__color-bg($color, $bg-color)
	color $color
	background-color $bg-color

// Hover
button-variant__color-bg--hover($color, $bg-color)
	&:hover
		color $color
		background-color $bg-color

// Active
button-variant__color-bg--active($color, $bg-color)
	&:active
	&.active
		color $color
		background $bg-color none

// Button sizes
button-size($padding, $font-size, $border-radius)
	padding $padding
	font-size $font-size
	border-radius $border-radius




// =============================================================
// Border
// =============================================================

// Border-width
button-variant__border-width($width)
	border-width $width

// Border-color
button-variant__border-color($color)
	border-color $color

//border-color_hove
button-variant__border-color_hover($color)
	&:hover
		border-color $color

// Border-color--active
button-variant__border-color--active($color)
	&:focus
	&:active
	&.active
		border-color $color

// Border-color--disabled
button-variant__border-color--disabled($color)
	&.disabled
	&[disabled]
	fieldset[disabled] &
		border-color $color




.btn
	@extend $btn1
	$color-l= #eceeef
	// Color + bg
	button-variant__color-bg($color: $color-l, $bg-color: transparent)
	// Hover
	button-variant__color-bg--hover($color: $color-l, $bg-color: alpha($color-l, 0.1))
	// Active
	//button-variant__color-bg--active($color: $brand-1, $bg-color: $brand_yellow)

	// Border
	button-variant__border-width($width: 1px)
	button-variant__border-color($color: $color-l)
	//button-variant__border-color_hover
	button-variant__border-color--active($color: $color-l)

.btn--2
input[type="button"]
input[type="submit"]
input[type="reset"]
	@extend $btn1
	$color-l=$brand_gray
	// Color + bg
	button-variant__color-bg($color: $color-l, $bg-color: transparent)
	// Hover
	button-variant__color-bg--hover($color: $color-l, $bg-color: alpha($color-l, 0.1))
	// Active
	//button-variant__color-bg--active($color: $color-l, $bg-color: $color-l)
	
	// Border
	button-variant__border-width($width: 1px)
	button-variant__border-color($color: $color-l)
	//button-variant__border-color_hover
	button-variant__border-color--active($color: $color-l)
