// Sticky footer
body
	//display flex
	height 100vh // for IE; or min-height 100vh
	flex-direction column

.content
	flex 1 0 auto

// Padding before footer
.content>section:last-of-type
	padding-bottom 80px
