.header
	background #0087d3
	&-inr
		height 50px
		display flex
		flex-wrap wrap
		align-items center
		@extend .container-fluid

.logo
	width 84px
	height 29px
	background-image svg-load('../imgs/logo.svg')
	background-repeat no-repeat
	background-position 0 50%
	background-size cover

.nav
	height 100%
	margin-left auto
	& ul
		display flex
		flex-wrap wrap

.content
	padding-top 2.5rem // 40px
